.App {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Oxygen", sans-serif;
  }
  
  
  .App footer {
    margin: 10px 0;
    font-size: 15px;
    color: #030303;
  }
  
  .App a {
    color: #9b34e0;
  }